@import './tokens';
@import '~@codeinc.mx/responsive-system/scss/responsive.scss';

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  text-rendering: optimizeLegibility;
  
  font-family: $base__fontFamily;
  font-weight: $base__fontWeight;
  
  line-height: $base__lineHeight; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */

  @include set-property-in-active-breakpoints(font-size, $base__fontSize);
}
