$base__lineHeight: 1.15 !default;

$base__fontFamily: system-ui !default;

$base__fontWeight: 300 !default;

$base__fontSize: (
  starts-in: 14px,
  xs: 16px,
  sm: 16px,
  md: 18px,
  lg: 22px,
  xl: 22px
  ) !default;