extends ../pug/template.pug

block templateConfig
  -config.extraCssUrls= ['https://fonts.googleapis.com/css?family=Raleway:300,500,800&display=swap'];
  //- -config.extraJsUrls= ['someextrascript.js'];
  //-  -config.lang = "en_US"; // overwrite default values

block body
  block header
  block hero
  block features
  block footer
