mixin head(config)
  head
    meta(charset=config.charset || "UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content= config.viewport || "width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content= config.description || "")
    title= config.title || 'Page title'